@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seja Bem Vindo!</h2>

<div class="row">
    <div class="col">
       

    </div>
    <div>
        <h2>Projeto Integrador 5</h2>
    </div>
</div>